* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

i,
svg {
  pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 100px;
  height: 100px;
  background-color: blanchedalmond;
  margin: 1rem 0.5rem;
  cursor: pointer;
  border-radius: 10px;
}

.kick-pad {
  background: rgb(83, 83, 192);
}

.snare-pad {
  background: rgb(90, 204, 151);
}

.hihat-pad {
  background: rgb(80, 204, 198);
}

.kick-pad.active {
  background: rgb(7, 7, 150);
}

.snare-pad.active {
  background: rgb(11, 160, 90);
}

.hihat-pad.active {
  background: rgb(8, 163, 155);
}

.kick-track,
.snare-track,
.hihat-track {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  margin-top: 5rem;
}

.kick,
.snare,
.hihat {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}

.controls button {
  padding: 1rem;
  border: none;
  border-radius: 10px;
  background-color: rgb(148, 145, 141);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.pad {
  transition: all 0.5s ease-in-out;
}

.play {
  padding: 1rem 2rem;
  margin: 3rem;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: rgb(148, 145, 141);
  color: white;
  cursor: pointer;
  border: none;
}

select {
  padding: 1rem;
  font-size: 1rem;
  margin-left: 1rem;
}

.mute.active {
  background-color: rgb(78, 77, 77);
}

.tempo {
  margin: 3rem;
  width: 30%;
}

.tempo p {
  text-align: center;
  font-size: 1.5rem;
  margin: 2rem;
}

.tempo-slider {
  padding: 0.2rem;
  -webkit-appearance: none;
  margin: 1rem 0;
  width: 100%;
  position: relative;
  background-color: grey;
  border-radius: 10px;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}
